<html>
    <head>
        <title>
            Products
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h2>Products Page</h2>
        <br>
        <a href="/cart">Cart</a>

        <ul>
            <% if(messages.success_msg) { %>
                <li><%=messages.success_msg %></li>
            <% } %>
        </ul>
        
        <div class="item-container">
            <% for(p of products) {%>
            <div class="item">
                
                <ul>
                    
                        <li><a href="products/<%= p.id %>"><%= p.title %></a></li>
                        <li><%= p.price %></li>
                        <div class="image">
                            <li><%= p.imageUrl %></li>
                            <img  class="image" src="/<%= p.imageUrl %>" alt="<%= p.imageUrl%>">
                        </div>
                        <li><%= p.description %></li>
                        <form action="/cart" method="POST">
                            <button>Add To Cart</button>
                            <input type="hidden" name="id" value="<%= p.id %>">
                        </form>
                </ul>
                
            </div>
            <% } %>
        </div>
        

            
        
    </body>
</html>